@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: "Noto Sans Korean";
    letter-spacing: -1px;
}



.request-box{
    /*border-left: px solid #00bcd9;*/
}

.clear {
    clear: both;
}

.cyan-text{
    font-weight: bold;
    color: #00bcd9;
}

.quest-request-text {
    font-weight: bold;
    color: #00bcd9;
    border: 0;
    background-color: #fff;
}

::selection{
    background-color: #c0ecf9;
}