html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-smooth: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-stroke: 0.6px;
    letter-spacing: -1px;
}

.clear {
    clear: both;
}

.cyan-text {
    font-weight: bold;
    color: #00bcd9;
}

::-moz-selection {
    background-color: #c0ecf9;
}

::selection {
    background-color: #c0ecf9;
}