@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: "Noto Sans Korean";
    letter-spacing: -1px;
}

.clear {
    clear: both;
}

.cyan-text{
    color: #00bcd9;
}

::selection{
    background-color: #c0ecf9;
}