@media (min-width: 1000px) {
    #content {
        width: 950px;
    }
}

@media (max-width: 999px) and (min-width: 760px) {
    #content {
        width: 710px;
    }
}

@media (max-width: 759px) and (min-width: 480px) {
    #content {
        width: 430px;
    }
}

@media (max-width: 479px) {
    #content {
        padding: 0 10px 0 10px;
    }
}

#content {
    box-sizing: border-box;
    height: 100%;
    margin: auto;
    padding-top: 60px;
}

#find-criteria {
    width: 100%;
    height: 340px;
    margin-bottom: 10px;
    background-color: white;
}

#left-container {
    float: left;
    width: 64%;
}

#right-container {
    float: right;
    width: 35%;
}

.box-model {
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.quest-card {
    box-sizing: border-box;
    width: 100%;
    min-height: 240px;
    margin: 0 10px 10px 0;
}

.quest-card-padding-wrapper {
    padding: 15px 20px 0 20px;
}

.quest-card-header {
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.profile-image {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: gray;
}

.user-nickname {
    padding-top: 3px;
    font-size: 14px;
    line-height: 1.2em;
}

.time-ago {
    color: gray;
    font-size: 12px;
}

.user-location {
    float: right;
    margin-top: 10px;
    font-size: 14px;
}

.quest-reward-text{
    margin: 5px 0 5px 0;
    color: gray;
    font-size: 16px;
}
.quest-reward-text:before{
    content: "\"";
    font-family: "Noto Sans Korean";
    font-size: 24px;
    font-weight: 900;
}

.quest-card-article > p{
    color: gray;
    font-size: 14px;
}

.quest-card-footer{
    box-sizing: border-box;
    height: 50px;
    padding: 0 20px 0 20px;
    background-color: #eee;
}

.quest-status{
    float: left;
    font-size: 12px;
    line-height: 50px;
}

.quest-more{
    float: right;
    font-size: 12px;
    line-height: 50px;
}

#near-questian {
    width: 100%;
    min-height: 400px;
}

#near-questian-title {
    width: 100%;
    height: 40px;
    background-color: #00bcd9;
    color: white;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    line-height: 40px;
}