#page-header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #00bcd9;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    z-index: 9999;
}

@media (min-width: 1000px) {
    #page-header-wrapper {
        width: 950px;
    }
}

@media (max-width: 999px) and (min-width: 760px) {
    #page-header-wrapper {
        width: 710px;
    }
}

@media (max-width: 759px) and (min-width: 480px) {
    #page-header-wrapper {
        width: 430px;
    }
}

@media (max-width: 479px) {
    #page-header-wrapper {}
}

#page-header-wrapper {
    height: 100%;
    margin: auto;
}

#page-header-logo {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin-right: 10px;
    padding-top: 15px;
}

#search-wrapper {
    display: inline-block;
    margin-top: 13px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
    vertical-align: top;
}

#page-header-menu {
    display: inline-block;
    float: right;
    margin-top: 14px;
}

#page-header-menu a {
    margin-right: 24px;
}

#search-field {
    outline: none;
    width: 560px;
    height: 35px;
    padding: 0 10px 0 10px;
    border: 0;
    font-family: "Noto sans KR";
    font-size: 14px;
    font-weight: 300;
    vertical-align: top;
}

#search-field::-webkit-input-placeholder {
    font-family: "Noto sans KR";
    font-size: 14px;
    font-weight: 500;
}

#search-field::-moz-placeholder {
    font-family: "Noto sans KR";
    font-size: 14px;
    font-weight: 500;
}

#search-field::-ms-input-placeholder {
    font-family: "Noto sans KR";
    font-size: 14px;
    font-weight: 500;
}

#search-button {
    box-sizing: border-box;
    height: 35px;
    padding: 0 10px 0 10px;
    border: 0;
    background-color: white;
    outline: none;
    cursor: pointer;
}

#search-button-image {
    width: 15px;
    margin-top: 3px;
}