@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 100;
  src: url(noto/NotoSans-Thin.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 300;
  src: url(noto/NotoSans-DemiLight.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 500;
  src: url(noto/NotoSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 700;
  src: url(noto/NotoSans-Medium.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 900;
  src: url(noto/NotoSans-Bold.woff) format("woff");
}
