#page-header-auth{
    display: inline-block;
    float: right;
    margin-top: 18px;
    margin-right: 10px;
}

#page-header-auth a{
    font-size: 15px;
    text-transform: uppercase;
    color: #00BCD4;
    font-weight: 900;
    background-color: #E0F7FA;
}
#page-header-auth i{
    font-size: 20px;
    color: #00BCD4;
}